<mat-card>
  <div class="d-flex flex-row-reverse">
    <button (click)="changeMode()" mat-icon-button>
      <mat-icon>{{ editMode ? "close" : "edit" }}</mat-icon>
    </button>
  </div>
  <div *ngIf="!editMode; else editor" class="user-card">
    <img
      alt="avatar"
      class="avatar"
      src="https://material.angular.io/assets/img/examples/shiba1.jpg"
    />
    <h1 class="pt-2">{{ username.toUpperCase() }}</h1>
  </div>
  <ng-template #editor>
    <div class="user-card">
      <img
        alt="avatar"
        class="avatar"
        src="https://material.angular.io/assets/img/examples/shiba1.jpg"
      />
      <form
        #editForm="ngForm"
        (ngSubmit)="save()"
        [formGroup]="editUserForm"
        class="d-flex flex-column align-items-center py-3"
      >
        <mat-form-field>
          <div>
            <mat-toolbar>
              <!-- Display files names -->
              <input [value]="currentFile? currentFile.name : ''" matInput readonly/>

              <!-- Browse Button -->
              <button color="primary" mat-raised-button>Browse Files</button>
            </mat-toolbar>

            <!-- Fetch selected filed on change -->
            <input
              (change)="selectFile($event)"
              class="uploadFile"
              type="file"
            />
          </div>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Username</mat-label>
          <input
            formControlName="Username"
            matInput
            placeholder="Enter your username"
          />
        </mat-form-field>
      </form>
      <button
        (click)="upload()"
        [disabled]="!editForm.form.valid"
        class="align-self-end"
        color="primary"
        mat-raised-button
        type="submit"
      >
        Save
      </button>
    </div>
  </ng-template>
</mat-card>
