<div>
  <mat-card class="mt-5">
    <div class="d-flex flex-row-reverse">
      <button mat-icon-button (click)="changeMode()">
        <mat-icon>{{ editMode ? "close" : "edit" }}</mat-icon>
      </button>
    </div>
    <div class="user-card" *ngIf="!editMode; else editor">
      <img
        src="https://material.angular.io/assets/img/examples/shiba1.jpg"
        alt="avatar"
        class="avatar"
      />
      <h1>Username</h1>
      <h2></h2>
    </div>
    <ng-template #editor>
      <div class="user-card">
        <img
          src="https://material.angular.io/assets/img/examples/shiba1.jpg"
          alt="avatar"
          class="avatar"
        />
        <form
          [formGroup]="editUserForm"
          (ngSubmit)="save()"
          class="d-flex flex-column align-items-center py-3"
          #editForm="ngForm"
        >
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Username</mat-label>
            <input
              matInput
              formControlName="Username"
              placeholder="Enter your username"
              value="Username"
            />
          </mat-form-field>
        </form>
        <button
          mat-raised-button
          type="submit"
          class="align-self-end"
          (click)="editForm.ngSubmit.emit()"
          [disabled]="!editForm.form.valid"
          color="primary"
        >
          Save
        </button>
      </div>
    </ng-template>
  </mat-card>
</div>
