<mat-selection-list [multiple]="false">
  <div class="title-bar">
    <button
      mat-icon-button
      [disabled]="currentFolder.parentId == null"
      class="icon-button"
      (click)="accessNewFolder(currentFolder.parentId)"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-icon-button class="icon-button" (click)="addFolderDialog()">
      <mat-icon>add</mat-icon>
    </button>
    <div mat-subheader>Folders: {{ currentFolder.name }}</div>
  </div>
  <div *ngFor="let fold of sortBy(0)">
    <mat-divider></mat-divider>
    <div class="d-flex align-items-center">
      <mat-list-option
        (click)="accessNewFolder(fold.id)"
        class="d-flex flex-row"
      >
        <mat-icon mat-list-icon>folder</mat-icon>
        <div class="d-flex">
          <div class="d-flex flex-column me-auto">
            <div mat-line>{{ fold.name }}</div>
            <div mat-line>
              {{ displayDate(fold.date) }}
            </div>
            <span style="width: 100%"></span>
          </div>
        </div>
      </mat-list-option>
      <button
        mat-icon-button
        class="justify-self-end mr-6"
        [matMenuTriggerFor]="menu"
      >
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu>
        <button mat-menu-item (click)="delete(fold)">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-selection-list>
