.mat-list-icon {
  color: rgba($color: #000000, $alpha: 0.54);
}

.title-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon-button {
  margin-top: 8px;
  margin-left: 8px;
}

.main {
  width: calc(100vw - 15px);
  height: 100vh;
}

.nav {
  padding-right: 6px;
  width: 100%;
  height: 100%;
}

mat-drawer {
  width: 300px;
}
