.mat-list-icon {
  color: rgba($color: #000000, $alpha: 0.54);
}

.title-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon-button {
  margin-top: -8px;
  line-height: 16px;
}
